<nav class="navbar navbar-expand-lg bg-body-tertiary fixed-top" style="background-color: #e3f2fd;">
  <div class="container-fluid">
    <div class="d-flex flex-column">
      <%= link_to "Notifications", root_path, class: "navbar-brand" %>
    </div>
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
      <div class="offcanvas-header">
        <div class="d-flex flex-column">
          <h5 class="offcanvas-title" id="offcanvasNavbarLabel">
            Notifications
          </h5>
        </div>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <% if user_signed_in? %>
          <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
            <li class="nav-item">
              <%= link_to "Log Out", destroy_user_session_path, data: { "turbo-method": :delete }, class: "nav-link" %>
            </li>
          </ul>
        <% else %>
          <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
            <li class="nav-item">
              <a class="nav-link" href="/users/sign_up">Sign Up</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/users/sign_in">Log In</a>
            </li>
          </ul>
        <% end %>
      </div>
    </div>
  </div>
</nav>
